__pycache__/
*.py[cod]
.Python
venv/
env/
.venv/
.idea/
.vscode/
*.log
logs/*
!logs/.gitkeep
data/raw/*
!data/raw/.gitkeep
data/formatted/*
!data/formatted/.gitkeep
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
*.env
.DS_Store
